.FeatureFlagListItem {
    background-color: white;
    height: auto;
    min-height: 10rem;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
}

.FeatureFlagListItem > .toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.FeatureFlagListItem > .toolbar > .name {
    font-weight: bold;
}

.FeatureFlagListItem > .toolbar > .indicators {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.FeatureFlagListItem > .toolbar > .indicators > .edit-button {
    padding: 0;
    color: #2f4f4f;
}

.FeatureFlagListItem > .toolbar > .indicators > .delete-button {
    padding: 0;
    margin-left: auto;
    color: #8b0000;
}

.FeatureFlagListItem > .fields {
    min-width: 15rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.FeatureFlagListItem > .fields > * {
    display: flex;
    align-items: center;
}

.FeatureFlagListItem > .fields > * > .label {
    color: black;
}

.FeatureFlagListItem > .fields > .status > .status-switch {
    padding-top: 0;
    padding-bottom: 0;
}

.FeatureFlagListItem > .fields > .status > .status-switch.on {
    color: #008a00;
}

.FeatureFlagListItem > .dates {
    font-size: small;
    margin-top: 1rem;
}