.FeatureFlagListItem {
    background-color: white;
    height: 10rem;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
}

.FeatureFlagListItem > .toolbar {
    display: flex;
    align-items: center;
}

.FeatureFlagListItem > .toolbar > .name {
    font-weight: bold;
}

.FeatureFlagListItem > .toolbar > .edit-button {
    padding: 0;
}

.FeatureFlagListItem > .toolbar > .delete-button {
    padding: 0;
    margin-left: auto;
}

.FeatureFlagListItem > .fields {
    width: 15rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.FeatureFlagListItem > .fields > * {
    display: flex;
    align-items: center;
}

.FeatureFlagListItem > .fields > * > .label {
    color: black;
}

.FeatureFlagListItem > .fields > * > .value {
    margin-left: auto;
    text-transform: uppercase;
}