.SwipeView {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.SwipeView.fullscreen {
    height: 100vh;
}

.SwipeView > .swipe-view-body {
    display: flex;
    flex-grow: 10;
}

.SwipeView > .swipe-view-body > .swipe-view-body-content {
    width: 100%;
}

.SwipeView > .interactive-panel {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SwipeView > .interactive-panel > .interactive-panel-indicator {
    color: white;
}

.SwipeView > .swipe-view-body > .interactive-panel {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SwipeView > .swipe-view-body > .interactive-panel > .interactive-panel-indicator {
    color: white;
}

.SwipeView > .interactive-panel-hint {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

.SwipeView > .interactive-panel-hint.top {
    margin-top: 0.5rem;
}

.SwipeView > .interactive-panel-hint.bottom {
    margin-bottom: 0.5rem;
}

.SwipeView > .swipe-view-body > .interactive-panel-hint {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    margin: 0 0.5rem 0 0.5rem;
}

.SwipeView > .swipe-view-body > .interactive-panel-hint.left {
    margin-left: 0.5rem;
}

.SwipeView > .swipe-view-body > .interactive-panel-hint.right {
    margin-right: 0.5rem;
}