.SwipeView {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.SwipeView.fullscreen {
    height: 100vh;
}

.SwipeView > .swipe-view-body {
    display: flex;
    flex-grow: 10;
}

.SwipeView > .swipe-view-body > .swipe-view-body-content {
    width: 100%;
}

.SwipeView > .interactive-panel {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SwipeView > .interactive-panel > .interactive-panel-indicator {
    color: white;
}

.SwipeView > .swipe-view-body > .interactive-panel {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SwipeView > .swipe-view-body > .interactive-panel > .interactive-panel-indicator {
    color: white;
}
