.SlideOverPane {
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    transition-timing-function: ease;
    transition-duration: 0.45s;
}

.SlideOverPane:not(.glass).theme-dark {
    background-color: white;
}

.SlideOverPane.open {
    width: 33%;
    height: 100%;
}

.SlideOverPane.closed {
    width: 0;
    height: 0;
    visibility: hidden;
}

.SlideOverPane.from-side.closed {
    height: 100%;
}

.SlideOverPane.from-top, .SlideOverPane.from-bottom {
    transition-property: height, visibility;
}

.SlideOverPane.from-top {
    top: 0;
}

.SlideOverPane.from-bottom {
    bottom: 0;
}

.SlideOverPane.from-top.closed, .SlideOverPane.from-bottom.closed {
    width: 33%;
}

.SlideOverPane > .body {
    z-index: 2;
}