.DashboardSlideOverPane {
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    transition-timing-function: ease;
    transition: width 0.45s, height 0.3s;
}

.DashboardSlideOverPane.top {
    top: 0;
}

.DashboardSlideOverPane.bottom {
    bottom: 0;
}

.DashboardSlideOverPane.left {
    left: 0;
}

.DashboardSlideOverPane.right {
    right: 0;
}

.DashboardSlideOverPane.open {
    width: 33%;
    height: 100%;
    background-color: white;
    opacity: 95%;
}

.DashboardSlideOverPane.closed {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 2.5px;
    background-color: rgb(255, 255, 255, 0.1);
}

.DashboardSlideOverPane.left > .header > .button-close {
    float: right;
}

.DashboardSlideOverPane.right > .header > .button-close {
    float: left;
}