.DashboardHeader {
    display: flex;
    align-items: center;
}

.DashboardHeader > .content {
    display: flex;
    margin: 1rem;
    align-items: center;
    width: 100%;
}

.greeting {
    margin-left: auto;
    margin-right: 1.5rem;
    color: white;
}

.DashboardHeader > .content > .DashboardMenuSlideOverPane.from-side {
    bottom: 0;
    height: 100%;
}

.DashboardHeader > .content > .DashboardMenuSlideOverPane > .content > .quick-links > .buttons {
    display: flex;
}

.DashboardHeader > .content > .section-system-settings {
    margin-left: auto;
}

.DashboardHeader > .content > .section-system-settings > .system-settings-pane {
    top: unset;
    right: 0;
    width: 20rem;
}

.DashboardHeader > .content > .section-system-settings > .system-settings-pane.open {
    height: 33%;
}