.DashboardMenuAssistantPane {
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    transition-timing-function: ease;
    transition: width 0.45s, height 0.3s;
}

.DashboardMenuAssistantPane.top {
    top: 0;
}

.DashboardMenuAssistantPane.bottom {
    bottom: 0;
}

.DashboardMenuAssistantPane.left {
    left: 0;
}

.DashboardMenuAssistantPane.right {
    right: 0;
}

.DashboardMenuAssistantPane.open {
    width: 33%;
    height: 100%;
    background-color: white;
    opacity: 95%;
}

.DashboardMenuAssistantPane.closed {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 2.5px;
    background-color: rgb(255, 255, 255, 0.1);
}

.DashboardMenuAssistantPane.left > .header > .button-close {
    float: right;
}

.DashboardMenuAssistantPane.right > .header > .button-close {
    float: left;
}