.DashboardHeader {
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    margin: 1rem;
    align-items: center;
    width: 100%;
}

.header-button {
    display: flex;
    align-items: center;
    color: black;
    width: 7rem;
    justify-content: center;
}

.header-button-link {
    color: black;
}

:hover(.header-button), :hover(.header-button-link) {
    color: black;
}

.greeting {
    margin-left: auto;
    margin-right: 1.5rem;
    color: white;
}

.DashboardMenuSlideOverPane {
    bottom: 0;
    height: 100%;
}

.DashboardMenuSlideOverPane > .content > .quick-links > .buttons {
    display: flex;
}