.header-divider {
    border-color: white;
    width: 95%;
    margin-top: 0;
}

.body {
    margin-top: 1.5rem;
}

.DashboardMenuAssistantPane {
    right: 0;
    bottom: 5%;
}

.DashboardMenuSlideOverPane {
    left: 0;
}