.DashboardHeader {
    display: flex;
    align-items: center;
}

.DashboardHeader > .content {
    display: flex;
    margin: 1rem;
    align-items: center;
    width: 100%;
}

.greeting {
    margin-left: auto;
    margin-right: 1.5rem;
    color: white;
}

.DashboardHeader > .content > .DashboardMenuSlideOverPane {
    bottom: 0;
    height: 100%;
}

.DashboardHeader > .content > .DashboardMenuSlideOverPane > .content > .quick-links > .buttons {
    display: flex;
}