.UserAuthRedirectPage {
    color: white;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.UserAuthRedirectPage > .text {
    margin-top: 5rem;
}