.row {
    display: flex;
}

.horizontal-row {
    display: block;
    float: left;
}

.horizontal-divider-line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.column {
    flex: 50%;
    padding: 10px;
}

.columnLeftBorder {
    border-right-style: double;
    border-right-color: black;
    padding-right: 2%;
}

.column-right-border {
    padding-left: 2%;
}

.full-width {
    width: 100%;
}

.icon-disabled {
    opacity: 0.5;
}

.clickable {
    cursor: pointer;
}

.rounded-corners-small {
    border-radius: 1rem;
}