.InboxToolbar {
    display: flex;
}

.InboxToolbar > .modal-container > .Modal > .content > .MessageInput > .send-button {
    color: black;
}

.InboxToolbar > .modal-container > .Modal > .content > .FormField > .label {
    color: black;
}