.MessageContainer {
    height: 40rem;
    overflow-y: scroll;
    padding-left: 1rem;
    padding-right: 1rem;
}

.MessageContainer > .message {
    min-height: 4rem;
}

.MessageContainer > .message > .MessageBubble.outbound {
    margin-left: auto;
}

.MessageContainer > .message > .status {
    color: white;
    float: right;
    font-size: small;
    text-transform: capitalize;
}